/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../sass/style.scss */
body {
  background: url(../img/pattern.png) center center;
  font-family: 'Roboto', sans-serif;
}

/* line 19, ../sass/style.scss */
a {
  text-decoration: none;
  color: #f8f8f8;
}

/* line 24, ../sass/style.scss */
.topbar {
  height: 5px;
  background: #2fa1fa;
}

/* line 29, ../sass/style.scss */
img {
  width: 100%;
}

/* line 33, ../sass/style.scss */
.section {
  padding: 100px 0;
}

/* line 39, ../sass/style.scss */
.logo-main {
  fill: #141414;
}

/* line 43, ../sass/style.scss */
span {
  font-weight: 900;
}

/* line 48, ../sass/style.scss */
.masthead p {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
}

/* line 58, ../sass/style.scss */
.grid {
  padding-top: 0px;
}
/* line 60, ../sass/style.scss */
.grid p {
  text-align: center;
  font-size: 2.5rem;
}

/* line 65, ../sass/style.scss */
.grid .row {
  margin: 0;
}

/* line 69, ../sass/style.scss */
.hvr-underline-from-left:before {
  background: #2fa1fa;
}

/* line 76, ../sass/style.scss */
.footer {
  background: #2fa1fa;
  color: #f8f8f8;
  font-size: 2.2rem;
}

/* line 82, ../sass/style.scss */
.contact {
  padding: 5px 40px;
  margin: 0 5px;
  height: auto;
  line-height: auto;
  border-radius: 0;
  white-space: nowrap;
  border: #f8f8f8 4px solid;
  transition: all .3s ease;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
}
/* line 94, ../sass/style.scss */
.contact:hover {
  background: #f8f8f8;
  color: #2fa1fa;
}

/* line 100, ../sass/style.scss */
.bruh {
  fill: #f8f8f8;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  /* line 109, ../sass/style.scss */
  .grid .row {
    margin: 25px 0;
  }
}
