/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

// Variables
$black : #141414;
$white : #f8f8f8;
$blue  : #2fa1fa;

//Basic Styles
body{
  background: url(../img/pattern.png) center center;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color:$white;
}

.topbar{
  height:5px;
  background:$blue;
}

img{
  width:100%;
}

.section{
  padding:100px 0;
}


//Masthead
.logo-main{
  fill:$black;
}

span{
    font-weight:900;
}

.masthead{
  p{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
  }
}

//Grid
.grid{
  padding-top: 0px;
  p{
    text-align: center;
    font-size: 2.5rem;
  }
}
.grid .row{
  margin: 0;
}

.grid img{
  transition: all .2s ease;
  &:hover{
    @include translateY(-8px);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .3);
  }
}



//Footer
.footer{
  background:$blue;
  color:$white;
  font-size: 2.2rem;
}

.contact{
  padding:5px 40px;
  margin: 0 5px;
  height: auto;
  line-height: auto;
  border-radius: 0;
  white-space: nowrap;
  border: $white 4px solid;
  transition: all .3s ease;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  &:hover{
    background: $white;
    color:$blue;
  }
}

.bruh{
  fill: $white;
}



/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

  .grid .row{
    margin: 25px 0;
  }

}
